[Service]
# Даем знать systemd, что этот сервис представляет из себя лишь 1 процесс. Man page хорошо описывает доступные опции.
Type=oneshot
# Выполнить эту команду при запуске сервиса.
ExecStart=/home/ubuntu/ard_lhep/pythopn fr_serv.py
